<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ShipReservations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShipReservations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ShipReservations.Properties.Settings>
      <setting name="DB_ServerName_Stage" serializeAs="String">
        <value>192.168.1.231</value>
      </setting>
      <setting name="DB_ServerName_Release" serializeAs="String">
        <value>192.168.1.231</value>
      </setting>
      <setting name="DB_Schema_Dev" serializeAs="String">
        <value>shipR</value>
      </setting>
      <setting name="DB_UserID" serializeAs="String">
        <value>inluser</value>
      </setting>
      <setting name="DB_Password" serializeAs="String">
        <value>inl1926</value>
      </setting>
      <setting name="DB_Schema_Stage" serializeAs="String">
        <value>フェリー予約sys_Stage</value>
      </setting>
      <setting name="DB_Schema_Release" serializeAs="String">
        <value>フェリー予約sys_release</value>
      </setting>
      <setting name="APP_BuildVer" serializeAs="String">
        <value>2021/05/10</value>
      </setting>
    </ShipReservations.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ShipReservations.Properties.Settings>
      <setting name="SYS_AppName" serializeAs="String">
        <value>フェリー予約システム</value>
      </setting>
    </ShipReservations.Properties.Settings>
  </applicationSettings>
</configuration>